// Khong6 có tham số : Kế thừa những giá trị nguyên bản của lớp cha
// @mixin styleText{
//     color: white;
//     font-size: 13px;
//     font-weight: 1rem;
// }
// Có tham số : Kế thừa nhưng có thể đổi giá trị của lớp cha thông qua variable tự đặt như: $color 
@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin styleButton($color, $bg-color, $boder, $fs, $fw, $pd-y, $pd-x) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $boder;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    cursor: pointer;
}
@mixin hoverButton($color-hover, $bg-hover, $boder-hover) {
    color: $color-hover;
    background-color: $bg-hover;
    border: 1px solid $boder-hover;
}
@mixin styleFormsearch($bg-color,$bg-color-focus,$boder-color){
    .input-group {
                background-color: $bg-color;
                .form-control {
                    background-color: transparent;
                    border-color: transparent;
                    box-shadow: none;
                    transition: none;
                    color: $color-black-light;
                    &::placeholder {
                        color: $color-black-light;
                    }
                    &:focus {
                        background-color: $bg-color-focus;
                        border-top-color: $boder-color;
                        border-left-color: $boder-color;
                        border-bottom-color: $boder-color;
                    }
                    //+ :tìm thẻ nào đang cùng cấp với thẻ chứa dấu +
                    &:focus + .input-group-append {
                        .input-group-text {
                            background-color: $bg-color-focus;
                            border-top-color: $boder-color;
                            border-bottom-color:$boder-color;
                            border-right-color: $boder-color;
                            
                            
                            color: $color-red-0;
                            // & :parent selector
                            &:hover {
                                color: $color-white-0;
                                background-color: $color-red-0;
                                
                            }
                        }
                    }
                }

                .input-group-append {
                    .input-group-text {
                        background-color: transparent;
                        border-color: transparent;
                        color: $color-red-0;
                        padding: 0.7rem 0.75rem;
                        border-radius: 0;

                        // & :parent selector
                        &:hover {
                            color: $color-white-0;
                            background-color: $color-red-0;
                        }
                    }
                }
            }

}
@mixin reponsive($screen){
    @if map-has-key($map:$breakpoints , $key:$screen){
        $value: map-get($map: $breakpoints, $key:$screen);
        @media screen and (max-width:$value) {
            @content;
        }
    }
    @else{
        @warn "`{$screen}` isn't exist in breakpoints";

    }
}
